@media screen and (max-width: 1147px) {
  .container {
    max-width: 390px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1148px) {
  .container {
    max-width: 1148px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
